body{
  margin:0px , 0px;
  background:url(../images/background.jpg) no-repeat fixed;
  background-size:cover;
  height:100%;
}
img{
  cursor:pointer;
}
a{
  text-decoration:none;
}
.header{
  z-index:10000;
  top:0px;
  left:0px;
  right:0px;
  margin-top:0px;
  position:fixed;
  width:100%;
  vertical-align:top;
  height:112px;
  border-color: transparent;
  background-color:#7A5696;
  /*border-bottom:solid 1px red;*/
  box-shadow: 0px 2px 0px 0px rgba(183,61,44,30);
}
.header1{
  padding-top:1px;
  float:right;
  margin-right:80px;
}
.header1 ol li{
  list-style-type:none;
  float:left;
  margin-left:12px;
  display:inline-block;
}
.header1 ol li a{
  text-decoration:none;
  color:white;
  font-family:cursive;
}
.header1 ol li a:hover{
  color:yellow;
  text-decoration:underline;
}
.header1 ol li #slide_toggle span{
  pointer:cursor;
  text-decoration:none;
  color:white;
  font-family:cursive;
}
.header1 ol li #slide_toggle span:hover{
  color:yellow;
  text-decoration:underline;
}
.header1 ol li:hover #login_header{
  display:block;
}
.header1 ol li:hover #login_header1{
  display:block;
}
.header1_toggle{
  padding-top:1px;
  float:right;
  margin-right:80px;
}
.header1_toggle ol li{
  list-style-type:none;
  float:left;
  margin-left:12px;
  display:inline-block;
}
.header1_toggle ol li a{
  text-decoration:none;
  color:white;
  font-family:cursive;
}
.header1_toggle ol li a:hover{
  color:yellow;
  text-decoration:underline;
}
.header1_toggle ol li #slide_toggle span{
  pointer:cursor;
  text-decoration:none;
  color:white;
  font-family:cursive;
}
.header1_toggle ol li #slide_toggle span:hover{
  color:yellow;
  text-decoration:underline;
}
/*.header1 ol li:hover #login_header{
  display:block;
}
.header1 ol li:hover #login_header1{
  display:block;
}*/

#login_header{
  position:absolute;
  display:none;
  width:340px;
  height:230px;
  right:80px;
  top:40px;
  border-radius:10px;
  border-bottom:solid 1px white;
  border-left:solid 1px white;
  border-right:solid 1px white;
  background-color:darkslategrey;
  -webkit-box-shadow: 5px 5px 3px 0px rgba(183,61,44,30);
  -moz-box-shadow: 5px 5px 3px 0px rgba(183,61,44,30);
  box-shadow: 8px 8px 6px 0px rgba(183,61,44,30);
}
#inner_login_header{
  margin-top:20px;
  margin-left:20px;
}
#login_header1{
  position:absolute;
  display:none;
  width:300px;
  height:475px;
  right:135px;
  top:40px;
  border-radius:10px;
  border-bottom:solid 1px white;
  border-left:solid 1px white;
  border-right:solid 1px white;
  background-color:darkslategrey;
  -webkit-box-shadow: 5px 5px 3px 0px rgba(183,61,44,30);
  -moz-box-shadow: 5px 5px 3px 0px rgba(183,61,44,30);
  box-shadow: 8px 8px 6px 0px rgba(183,61,44,30);
}
#inner_login_header1{
  margin-top:20px;
  margin-left:20px;
}
#inner_login_form{
  margin-top:24px;
  margin-left:24px;
}
#inner_login_form #inner_name{
  color:yellow;
  font-family:cursive;
  font-size:18px;
}
#inner_login_form #inner_pass_name{
  color:yellow;
  font-family:cursive;
  font-size:18px;
  margin-left:-32px;
}
#inner_login_header1 #inner_login_form #inner_pass_name{
  color:yellow;
  font-family:cursive;
  font-size:18px;
  margin-left:4px;
}
#inner_login_form #inner_email input[type="email"]{
  opacity:0.8;
  color:black;
  width:200px;
  font-family:cursive;
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
  border:solid 1px white;
}
#inner_login_form #inner_email input[type="email"]:hover{
  opacity:1;
}
#inner_login_form #inner_email input[type="text"]{
  opacity:0.8;
  color:black;
  width:200px;
  font-family:cursive;
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
  border:solid 1px white;
}
#inner_login_form #inner_email input[type="text"]:hover{
  opacity:1;
}
#inner_login_form #inner_password input[type="password"]{
  opacity:0.8;
  color:black;
  width:200px;
  font-family:cursive;
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
  border:solid 1px white;
}
#inner_login_form #inner_password input[type="password"]:hover{
  opacity:1;
}
#inner_login_header1 #inner_login_form #inner_email input[type="text"]{
  opacity:0.8;
  color:black;
  width:230px;
  font-family:cursive;
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
  border:solid 1px white;
  box-shadow: 5px 5px 3px 0px rgba(18,6,44,30);
}
#inner_login_header1 #inner_login_form #inner_email input[type="text"]:hover{
  opacity:1;
}
#inner_login_header1 #inner_login_form #inner_email input[type="email"]{
  opacity:0.8;
  color:black;
  width:230px;
  font-family:cursive;
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
  border:solid 1px white;
  box-shadow: 5px 5px 3px 0px rgba(18,6,44,30);
}
#inner_login_header1 #inner_login_form #inner_email input[type="email"]:hover{
  opacity:1;
}
#inner_login_header1 #inner_login_form #inner_password input[type="password"]{
  opacity:0.8;
  color:black;
  width:230px;
  font-family:cursive;
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
  border:solid 1px white;
  box-shadow: 5px 5px 3px 0px rgba(18,6,44,30);
}
#inner_login_header1 #inner_login_form #inner_password input[type="password"]:hover{
  opacity:1;
}
#inner_login_form  img{
  width:18px;
  height:21px;
  margin-bottom:-6px;
  border:none;
  border-radius:none;
  border-top:solid 1px white;
  border-bottom:solid 1px white;
  border-right:solid 1px white;
}
#inner_login_form #forget_pass a{
  text-decoration:none;
  color:blue;
  line-height:2em;
  font-size:14px;
  text-align:center;
}
#inner_login_form #forget_pass a:hover {
  color:white;
}
#inner_login_form #forget_pass {
  margin-left:170px;
}
#inner_login_header1 #inner_login_form #forget_pass a{
  text-decoration:none;
  color:blue;
  line-height:2em;
  font-size:14px;
  text-align:center;
}
#inner_login_header1 #inner_login_form #forget_pass a:hover {
  color:white;
}
#inner_login_header1 #inner_login_form #forget_pass {
  margin-left:120px;

}
#inner_login_form #submit_left input[type="submit"]{
  color:white;
  background-color:blue;
  font-family:cursive;
  border-radius:4px;
  border:solid 1px white;
  margin-bottom:30px;
  margin-top:9px;
  margin-left:65px;
  height:30px;
  width:70px;
  font-weight:bold;
  float:left;
}
#inner_login_form #submit_left input[type="submit"]:hover{
  background-color:red;
}
#inner_login_form #submit_right input[type="submit"]{
  color:white;
  background-color:blue;
  font-family:cursive;
  border-radius:4px;
  border:solid 1px white;
  margin-bottom:30px;
  margin-top:9px;
  margin-right:20px;
  height:30px;
  width:70px;
  font-weight:bold;
  float:right;
}
#inner_login_form #submit_right input[type="submit"]:hover{
  background-color:red;
}
#inner_login_header span{
  font-family:fantasy;
  font-size:25px;
  text-shadow:2px 2px white;
  letter-spacing:1px;
}
#inner_login_header1 span{
  font-family:fantasy;
  font-size:25px;
  text-shadow:2px 2px white;
  letter-spacing:1px;
}
.header1 ol li nav{
  color:black;
  font-size:20px;
}
.header2{
  float:center;
  margin-right:80px;
}
.header2 table{
  text-align:center;
}
.header2 #table td span{
  color:white;
  display: block;
  font-size: 40px;
  line-height:0.8em;
  font-family: fantasy;
  letter-spacing: 2px;
  margin-left: 75px;
  text-shadow: 3px 3px red;
}
.header2 #table td input[type="search"]{
  padding-top:px;
  height:38px;
  width:620px;
  border:2px white;
  border-radius:4px;
  color:black;
  font-family:cursive;
  -webkit-box-shadow: 5px 5px 3px 0px rgba(183,61,44,30);
  -moz-box-shadow: 5px 5px 3px 0px rgba(183,61,44,30);
  box-shadow: 5px 5px 3px 0px rgba(183,61,44,30);
}
.header2 #table td #search input[type="search"]{
  color:black;
  font-family:cursive;
}
.header2 #table td input[type="submit"]{
  cursor:pointer;
  background-color:red;
  padding-top:px;
  height:38px;
  width:80px;
  color:white;
  font-size:16px;
  border:2px red;
  font-family:fantasy;
  border-radius:4px;
  -webkit-box-shadow: 5px 5px 3px 0px rgba(183,61,44,30);
  -moz-box-shadow: 5px 5px 3px 0px rgba(183,61,44,30);
  box-shadow: 5px 5px 3px 0px rgba(183,61,44,30);
}
.header2 #table td input[type="submit"]:hover{
  background-color:#4727A3;
}
.menu{
  margin-top:72px;
  width:1331px;
  height:45px;
  border-radius:6px;
  background-color:#4727A3;
  /*  background-color: rgba(60, 118, 61, 0.4);
  border-color: transparent;*/
  border:solid 2px #4727A3;
  box-shadow: 0px 7px 0px 0px rgba(183,61,44,30);
}
.menu ol{
  text-align:center;
}
.menu ol li{
  list-style-type:none;
  margin-left:15px;
  display:inline-block;
}
.menu ol li a{
  text-decoration:none;
  color:white;
  font-family:cursive;
}
.menu ol li a:hover{
  color:red;
}
.menu ol li nav {
  color:black;
  font-size:20px;
}
#section{
  margin-top:-9px;
  width:100%;
  height:100%;
}
.image_link{
  padding-left:10px;
  padding-right:10px;
  margin-left:240px;
  width:930px;
  height:100%;
  background-color:cornflowerblue;
}
.left_menu{
  width:200px;
  height:100%;
  background-color: cornflowerblue;
  float:left;
}
.right_menu{
  margin-left:220px;
  margin-top:16px;
  width:700px;
  height:915px;
}
#product_menu{
  display:none;
  padding-top:17px;
  width:716px;
  height:35px;
  background-color:#332E36;
  box-shadow:5px 5px 3px 0px rgba(183,161,44,30);
}
#product_menu span{
  float:right;
  font-size:17px;
  margin-bottom:10px;
  margin-right:20px;
  margin-left:10px;
}
#product_menu span #z{
  font-family:fantasy;
  color:white;
  margin-right:10px;
  text-shadow: 3px 3px red;
}
#product_menu span #user_name{
  font-family:fantasy;
  color:white;
  margin-right:10px;
  text-shadow: 3px 3px blue;
}
#product_menu span #a{
  font-family:cursive;
  color:yellow;
  margin-right:10px;
}
#product_menu span #a:hover{
  font-family:cursive;
  color:green;
  text-decoration:underline;
  margin-right:10px;
}
#product_menu span #b{
  font-family:cursive;
  color:white;
  margin-right:15px;
}
#product_menu span input[type="button"]{
  pointer:cursor;
  font-family:fantasy;
  letter-spacing:1px;
  width:80px;
  height:30px;
  background-color:blue;
  border:solid 1px white;
  border-radius:6px;
  color:white;
  font-size:13px;
}
#product_menu span input[type="button"]:hover{
  background-color:red;
}
#product_menu1{
  /*  display:none;*/
  padding-top:17px;
  width:716px;
  height:35px;
  background-color:#332E36;
  box-shadow:5px 5px 3px 0px rgba(183,161,44,30);
}
#product_menu1 span{
  float:right;
  font-size:17px;
  margin-bottom:10px;
  margin-right:20px;
  margin-left:10px;
}
#product_menu1 span #z{
  font-family:fantasy;
  color:white;
  margin-right:10px;
  text-shadow: 3px 3px red;
}
#product_menu1 span #a{
  font-family:cursive;
  color:yellow;
  margin-right:10px;
}
#product_menu1 span #a:hover{
  font-family:cursive;
  color:green;
  text-decoration:underline;
  margin-right:10px;
}
#product_menu1 span #b{
  font-family:cursive;
  color:white;
  margin-right:15px;
}
#product_menu1 span input[type="button"]{
  pointer:cursor;
  font-family:fantasy;
  letter-spacing:1px;
  width:80px;
  height:30px;
  background-color:blue;
  border:solid 1px white;
  border-radius:6px;
  color:white;
  font-size:13px;
}
#product_menu1 span input[type="button"]:hover{
  background-color:red;
}
#product_menu1 span #input input[type="button"]{
  pointer:cursor;
  font-family:fantasy;
  letter-spacing:1px;
  width:90px;
  height:30px;
  background-color:blue;
  border:solid 1px white;
  border-radius:6px;
  color:white;
  font-size:13px;
}
#product_menu1 span #input input[type="button"]:hover{
  background-color:red;
}

#product_header{
  margin-top:50px;
  margin-left:60px;
}
#product_header span{
  font-family:fantasy;
  font-size:30px;
  color:blue;
  text-shadow: 2px 2px white;
}
.product_box input[type="text"]{
  width:450px;
  height:30px;
  border-radius:7px;
  opacity:0.8;
  color:black;
  font-family:cursive;
  border:solid 2px white;
}
.product_box input[type="text"]:hover{
  opacity:1;
}
.product_box #name{
  color:yellow;
  font-family:cursive;
  font-size:16px;
  line-height:1.6em;
}
.product_box #name1 select{
  width:250px;
  height:30px;
  border-radius:7px;
  opacity:0.8;
}
.product_box #name1 select:hover{
  opacity:1;
}
.product_box #textarea{
  opacity:0.8;
  color:black;
  font-family:cursive;
  border:solid 2px white;
}
.product_box #textarea:hover{
  opacity:1;
}
.product_box table{

}
.product_box input[type="submit"]{
  float:right;
  font-size:15px;
  pointer:cursor;
  width:150px;
  height:40px;
  border-radius:7px;
  color:white;
  font-family:fantasy;
  background-color:blue;
  border:solid 2px blue;
}
.product_box input[type="submit"]:hover{
  background-color:red;
}
.left_menu ol li{
  list-style-type:none;
  display:block;
  margin-top:10px;
}
.left_menu ol li span{
  font-family:fantasy;
  font-size:20px;
  margin-left:-40px;
  text-align:center;
  line-height:3.2em;
  background-color:rgba(60, 110, 61, 0.9);
  padding-left:45px;
  color:white;
  border-radius:6px;
  padding-right:54px;
  padding-bottom:10px;
  padding-top:10px;
  border:solid 1px white;
  box-shadow:5px 6px 1px 0px rgba(183,61,44,30);
}
.left_menu ol li span:hover{
  background-color:white;
  color:blue;
  border:solid 1px blue;
}
.left_menu ol li #home{
  font-family:fantasy;
  font-size:20px;
  margin-left:-40px;
  text-align:center;
  line-height:1em;
  background-color:rgba(60, 110, 61, 0.9);
  padding-left:65px;
  color:white;
  border-radius:6px;
  padding-right:84px;
  padding-bottom:10px;
  padding-top:10px;
  border:solid 1px white;
  box-shadow:5px 6px 1px 0px rgba(183,61,44,30);
}
.left_menu ol li #home:hover{
  background-color:white;
  color:blue;
  border:solid 1px blue;
}
.left_menu ol li nav{
  font-family:fantasy;
  font-size:20px;
  margin-left:-40px;
  text-align:center;
  line-height:1.6em;
  background-color:white;
  padding-left:4px;
  padding-right:84px;
  padding-bottom:0px;
  padding-top:0px;
  border-radius:2px;
  border:solid 1px white;
  box-shadow:5px 5px 3px 0px rgba(183,61,44,30);
}
.left_menu .abc li{
  list-style-type:none;
  display:block;
  margin-top:-10px;
}
.left_menu ol li #abc{
  font-family:cursive;
  font-size:20px;
  display:block;
  text-align:center;
  background-color:red;
  color:white;
  padding-top:4px;
  padding-bottom:4px;
  margin-left:-40px;
  border:solid 1px black;
  border-radius:10px;
  box-shadow:5px 5px 3px 0px rgba(183,61,44,30);
}
.left_menu ol li #abc:hover{
  background-color:blue;
  color:white;
}
.product_insert_box{
  text-align:center;
  width:800px;
  padding-top:20px;
  margin-top:20px;
  margin-left:0px;
  margin-right:0px;
}
#product{
  width:630px;
  text-align:center;
  padding-top:10px;
  margin-top:10px;
  margin-left:15px;
  margin-right:15px;
}
.footer{
  margin-bottom:-400px;
  margin-right:-10px;
  margin-left:-10px;
  width:1350px;
  vertical-align:top;
  height:80px;
  border-color: transparent;
  background-color:#7A5696;
  box-shadow: 0px 0px 0px 2px rgba(183,61,44,30);
}
.footer table{
  text-align:center;
}
.footer td span{
  color:white;
  display: block;
  font-size: 40px;
  line-height:0.8em;
  font-family: fantasy;
  letter-spacing: 2px;
  text-shadow: 3px 3px red;
}
.footer #img img{
  margin-left:40px;
}
.footer p{
  color:white;
  font-family:cursive;
  font-size:14px;
}
#single1{
  margin-left:18px;
  margin-right:20px;
  float:left;
}
#single_product{
  width:200px;
  border:solid 1px white;
  background-color:darkslategrey;
  box-shadow:10px 10px 7px 0px rgba(183,61,44,30);
}
#single_product_insert{
  margin-left:10px;
  padding-top:15px;
  padding-bottom:10px;
}
#single_product_insert #pro_title{
  color:white;
  font-family:fantasy;
  font-size:18px;
  text-shadow:2px 2px blue;
}
#single_product_insert img{
  margin-top:5px;
  border-radius:10px;
  border:solid 1px black;
}
#single_product_insert #pro_price{
  color:white;
  font-family:cursive;
}
#single_product_insert #pro_detail a{
  color:black;
  margin-left:-17px;
  font-family:cursive;
}
#single_product_insert #pro_detail a:hover{
  color:blue;
}
#single_product_insert #submit_cart input[type="button"]{
  background-color:blue;
  pointer:cursor;
  border:solid 1px black;
  color:white;
  font-family:cursive;
  margin-top:10px;
  margin-left:30px;
  border-radius:10px;
  width:100px;
  height:30px;
  font-weight:bold;
  box-shadow:2px 2px 2px 0px white;
}
#single_product_insert #submit_cart input[type="button"]:hover{
  background-color:red;
}
#single_product_details{
  width:680px;
  margin-left:20px;
  border:solid 1px white;
  background-color:darkslategrey;
  box-shadow:10px 10px 10px 0px rgba(183,61,44,30);
}
#inner_insert_product_details{
  margin-left:14px;
  margin-bottom:20px;
  margin-right:10px;
}
#inner_insert_product_details #pro_title{
  font-family:fantasy;
  font-size:29px;
  color:red;
  letter-spacing:1px;
  text-shadow:3px 3px black;
  text-align:center;
}
#inner_insert_product_details img{
  border:solid 1px black;
  border-radius:13px;
  text-align:center;
}
#inner_insert_product_details #pro_price{
  color:white;
  font-family:cursive;
  font-weight:bold;
  font-size:18px;
  text-align:center;
}
#inner_insert_product_details #pro_desc{
  color:yellow;
  text-align:center;
  font-family:cursive;
}
#inner_insert_product_details #go_back a{
  color:blue;
  font-family:cursive;
}
#inner_insert_product_details #go_back a:hover{
  color:black;
}
#inner_insert_product_details #submit_cart input[type="button"]{
  background-color:blue;
  pointer:cursor;
  border:solid 1px black;
  color:white;
  font-family:cursive;
  font-size:15px;
  margin-top:10px;
  margin-left:420px;
  border-radius:10px;
  width:130px;
  height:38px;
  font-weight:bold;
  box-shadow:2px 2px 2px 0px white;
}
#inner_insert_product_details #submit_cart input[type="button"]:hover{
  background-color:red;
}
#single{
  width:650px;
  float:left;
}
.product_insert_box #cart_1{
  padding-top:20px;
  margin-left:30px;
  border:solid 1px white;
  background-color:darkslategrey;
  box-shadow:12px 12px 9px 0px rgba(183,61,44,30);
}
.product_insert_box #cart_name{
  color:yellow;
  font-family:cursive;
  padding-bottom:10px;
}
.product_insert_box #product_title{
  color:black;
  font-family:cursive;
}
.product_insert_box img{
  border:solid 1px white;
  border-radius:5px;
}
.product_insert_box input[type="text"]{
  opacity:0.8;
  color:black;
  font-family:cursive;
  border-radius:4px;
  border:solid 1px white;
}
.product_insert_box input[type="text"]:hover{
  opacity:1;
}
.product_insert_box #cart_price{
  color:black;
  font-family:cursive;
}
.product_insert_box #total{
  color:black;
  font-family:fantasy;
  font-size:18px;
}
.product_insert_box #total1{
  color:black;
  font-family:cursive;
}
.product_insert_box #button1 input[type="submit"]{
  color:white;
  background-color:blue;
  font-family:cursive;
  border-radius:4px;
  border:solid 1px white;
  margin-top:10px;
  margin-bottom:29px;
  height:30px;
}
.product_insert_box #button1 input[type="submit"]:hover{
  background-color:red;
}
.product_insert_box #login_table{
  padding-top:20px;
  margin-left:30px;
  border:solid 1px white;
  background-color:darkslategrey;
  box-shadow:12px 12px 9px 0px rgba(183,61,44,30);
}
.product_insert_box #login_table #image img{
  width:22px;
  height:20px;
  margin-bottom:-6px;
  border:none;
  border-radius:none;
  border-top:solid 1px white;
  border-bottom:solid 1px white;
  border-right:solid 1px white;
}
.product_insert_box #login_register{
  font-family:fantasy;
  margin-top:20px;
  margin-bottom:10px;
  line-height:2em;
  font-size:24px;
  color:white;
  text-shadow:4px 4px black;
}
.product_insert_box #email{
  padding-top:20px;
  line-height:3em;
  color:yellow;
  font-family:cursive;
  font-size:16px;
}
.product_insert_box #password{
  padding-top:20px;
  color:yellow;
  font-family:cursive;
  font-size:16px;
}
.product_insert_box #name_1{
  padding-top:20px;
  line-height:2.4em;
  color:yellow;
  font-family:cursive;
  font-size:16px;
}
.product_insert_box #name_1{
  padding-top:20px;
  color:yellow;
  font-family:cursive;
  font-size:16px;
}
.product_insert_box #input_email input[type="email"]{
  opacity:0.8;
  color:black;
  font-family:cursive;
  border-radius:4px;
  border:solid 1px white;
}
.product_insert_box #input_email input[type="email"]:hover{
  opacity:1;
}
.product_insert_box #input_email #text_area{
  opacity:0.8;
  color:black;
  font-family:cursive;
  border-radius:6px;
  border:solid 1px white;
}
.product_insert_box #input_email #text_area:hover{
  opacity:1;
}
.product_insert_box #input_email input[type="file"]{
  opacity:0.8;
  font-family:cursive;
  border-radius:4px;
}
.product_insert_box #input_email input[type="file"]:hover{
  opacity:1;
}
.product_insert_box #input_email input[type="text"]{
  opacity:0.8;
  color:black;
  font-family:cursive;
  border-radius:4px;
  border:solid 1px white;
}
.product_insert_box #input_email input[type="text"]:hover{
  opacity:1;
}
.product_insert_box #input_email input[type="date"]{
  opacity:0.8;
  color:black;
  font-family:cursive;
  border-radius:4px;
  border:solid 1px white;
}
.product_insert_box #input_email input[type="date"]:hover{
  opacity:1;
}
.product_insert_box #input_password input[type="password"]{
  opacity:0.8;
  color:black;
  font-family:cursive;
  border-radius:4px;
  border:solid 1px white;
}
.product_insert_box #input_password input[type="password"]:hover{
  opacity:1;
}
.product_insert_box #forget_password{
  margin-left:-150px;
  color:blue;
  line-height:1.6em;
  font-family:cursive;
  font-size:16px;
}
.product_insert_box #forget_password:hover{
  color:white;
}
.product_insert_box #input_submit input[type="submit"]{
  color:white;
  background-color:blue;
  font-family:cursive;
  border-radius:4px;
  border:solid 1px white;
  margin-top:10px;
  margin-bottom:20px;
  height:30px;
  width:70px;
  font-weight:bold;
}
.product_insert_box #input_submit input[type="submit"]:hover{
  background-color:red;
}
.product_insert_box #login_table1{
  padding-top:10px;
  margin-left:480px;
  margin-bottom:20px;
  padding-bottom:12px;
  border:solid 1px white;
  background-color:darkslategrey;
  box-shadow:12px 12px 9px 0px rgba(183,61,44,30);
}
.product_insert_box #login_table1 #new_register{
  font-family:fantasy;
  font-size:20px;
  letter-spacing:1px;
  color:white;
  margin-left:15px;
  margin-right:15px;
}
.product_insert_box #login_table1:hover{
  background-color:yellow;
  color:blue;
  border:solid 1px blue;
}
.product_insert_box #login_table1:hover #new_register{
  color:blue;
}
.product_insert_box #login_table2{
  padding-top:10px;
  margin-left:510px;
  margin-bottom:20px;
  padding-bottom:12px;
  border:solid 1px white;
  background-color:darkslategrey;
  box-shadow:12px 12px 9px 0px rgba(183,61,44,30);
}
.product_insert_box #login_table2 #new_register{
  font-family:fantasy;
  font-size:20px;
  letter-spacing:1px;
  color:white;
  margin-left:15px;
  margin-right:15px;
}
.product_insert_box #login_table2:hover{
  background-color:yellow;
  color:blue;
  border:solid 1px blue;
}
.product_insert_box #login_table2:hover #new_register{
  color:blue;
}
.product_insert_box #input_select select{
  opacity:0.8;
  color:black;
  width:150px;
  font-family:cursive;
  border-radius:4px;
  border:solid 1px white;
}
.product_insert_box #input_select select:hover{
  opacity:1;
}
.right_menu_home{
  margin-left:200px;
  margin-top:16px;
  width:950px;
  height:870px;
}
#middle{
  width:950px;
  height:550px;
  border:solid 1px white;
  background-color:darkslategrey;
  box-shadow:12px 12px 9px 0px rgba(183,61,44,30);
  margin-top:90px;
}

#middle_bottam_1{
  margin-top:40px;
  width:380px;
  height:260px;
  float:left;
  margin-left:70px;
  border-top-left-radius:23px;
  border-bottom-left-radius:23px;
  border-top-right-radius:23px;
  border-bottom-right-radius:23px;
  background-image:url(../images/box.png);
  background-size:cover;
  box-shadow:12px 12px 9px 0px rgba(183,61,44,30);
}
#middle_bottam_1 img{
  margin-left:30px;
  margin-top:30px;
}
#middle_bottam_1 span{
  font-family:fantasy;
  font-size:30px;
  color:white;
  margin-top:40px;
  margin-left:10px;
  letter-spacing:1px;
  text-shadow:3px 3px red;
}
#middle_bottam_1 #font{
  font-family:cursive;
  color:yellow;
  margin-left:80px;
}
#middle_bottam_1 #image_x img{
  margin-right:30px;
}
#middle_bottam_1 p{
  margin-left:30px;
  color:white;
  font-family:cursive;
}
#middle_bottam_2{
  margin-top:40px;
  width:380px;
  height:260px;
  border-top-left-radius:23px;
  border-bottom-left-radius:23px;
  border-top-right-radius:23px;
  border-bottom-right-radius:23px;
  margin-left:520px;
  background-image:url(../images/box.png);
  background-size:cover;
  box-shadow:12px 12px 9px 0px rgba(183,61,44,30);
}
#middle_bottam_2 img{
  margin-left:30px;
  margin-top:30px;
}
#middle_bottam_2 span{
  font-family:fantasy;
  font-size:30px;
  color:white;
  margin-top:40px;
  margin-left:10px;
  letter-spacing:1px;
  text-shadow:3px 3px red;
}
#middle_bottam_2 #font{
  font-family:cursive;
  color:yellow;
  margin-left:80px;
}
#middle_bottam_2 #image_x img{
  margin-right:30px;
}
#middle_bottam_2 p{
  margin-left:30px;
  color:white;
  font-family:cursive;
}
#middle a #image_offer img{
  margin-left:1040px;
  margin-top:-12px;
  border-radius:40px;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove_s {
  from {top: 0px;}
  to {top: 350px;}
}

@keyframes mymove_s {
  from {top: 0px;}
  to {top: 350px;}
}

#middle a #image_home_offer{
  background-color:#F1ECF3;
  float:right;
  margin-top:-250px;
  margin-right:-140px;
  width:80px;
 box-shadow:3px 3px 2px 0px black;
  border:solid 1px black;
  /*box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);*/
  border-radius: 0.28571429rem;
  position: relative;
  -webkit-animation: mymove_s 3s;  /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: 1;  /* Chrome, Safari, Opera */
  -webkit-animation-fill-mode: forwards;  /* Chrome, Safari, Opera */
  animation: mymove_s 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
#middle a #image_home_offer img {
margin-left:20px;
}
#image_home_offer #home_feed {
  margin-left:23px;
  color:black;
  font-weight:bold;
}
#middle a:hover #image_home_offer{
  border:solid 1px red;
  box-shadow:3px 3px 2px 0px red;
}
#middle_index{
  margin-left:800px;
}
#middle_index a #image_home_offer_index{
  background-color:#F1ECF3;
  float:right;
  margin-left:00px;
  margin-top:00px;
  margin-right:-40px;
  width:80px;
  box-shadow:3px 3px 2px 0px black;
  border:solid 1px black;
  /*box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);*/
  border-radius: 0.28571429rem;
  position: relative;
  -webkit-animation: mymove1 infinite; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
  animation: mymove1 infinite;
  animation-duration: 4s;
}
@-webkit-keyframes mymove1 {
  from {top: 0px;}
  to {top: 240px;}
}
@keyframes mymove1 {
  from {top: 0px;}
  to {top: 240px;}
}
#middle_index:hover #image_home_offer_index{
  border-radius: 0.28571429rem;
  position: relative;
  -webkit-animation:stop; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 0s; /* Chrome, Safari, Opera */
  animation: stop;
  animation-duration: 0s;
}
#middle_index a #image_home_offer_index img {
  margin-left:20px;
}
#image_home_offer_index #home_feed_index {
  margin-left:23px;
  color:black;
  font-weight:bold;
}
#middle_index a:hover #image_home_offer_index{
  border:solid 1px red;
  box-shadow:3px 3px 2px 0px red;
}
#bottam_footer img{
  margin-left:1230px;
  border-radius:40px;
  margin-top:-110px;
  margin-bottom:-5px;
}
#fade{
  width:390px;
  height:200px;
  top:140px;
  background-color:transparent;
  margin-bottom:-200px;
  position:absolute;
  margin-left:500px;
  z-index:1000;
  /*display:none;*/
}
#fade #fade_button input[type="button"]{
  margin-top:390px;
  margin-left:100px;
  width:180px;
  height:50px;
  background-color:red;
  border:solid 2px white;
  border-radius:12px;
  font-family:fantasy;
  font-size:23px;
  color:white;
  text-shadow:3px 3px black;
  box-shadow:5px 5px 3px 0px rgba(183,61,44,30);
}
#fade #fade_button input[type="button"]:hover{
  background-color:blue;
}
#fade #fade_name{
  font-family:cursive;
  color:black;
}
#middle_image{
  margin-left:10px;
  margin-right:10px;
  margin-top:-45px;
}
#middle_image ul.images {
  width:850px;
  height:490px;
  overflow:hidden;
  position:relative;
}

#middle_image ul.images li {
  position:absolute;
  list-style:none;
}

#middle_image ul.images li.show {

}

/*#middle_image ul img {
  border:none;
}*/
#middle_image .gallery ul.images li img{
  border-radius:20px;
  border:solid 2px black;
}
#account_box #account_table{
  text-align:center;
  padding-top:20px;
  margin-left:30px;
  border:solid 1px white;
  background-color:darkslategrey;
  box-shadow:12px 12px 9px 0px rgba(183,61,44,30);
}
.product_insert_box #account_table #account_update{
  font-family:fantasy;
  margin-top:20px;
  margin-bottom:10px;
  line-height:2em;
  font-size:24px;
  margin-left:40px;
  color:yellow;
  text-shadow:4px 4px black;
  letter-spacing:1px;
}
.product_insert_box #account_table #account{
  padding-top:20px;
  line-height:3em;
  color:black;
  font-family:cursive;
  font-size:16px;
  font-weight:bold;
}
.product_insert_box #account_table #account1{
  padding-top:20px;
  line-height:3em;
  color:white;
  font-family:cursive;
  font-size:16px;
}
.product_insert_box #account_table #account_image{
  padding-top:20px;
  line-height:3em;
  margin-right:70px;
  border-radius:70px;
}
.product_insert_box #account_table a #account_go_back{
  padding-top:20px;
  line-height:3em;
  margin-left:120px;
  color:white;
  font-family:cursive;
  font-size:16px;
}
.product_insert_box #account_table a #account_go_back:hover{
  color:black;
}
.product_insert_box #input_submit_logout input[type="submit"]{
  color:white;
  background-color:blue;
  font-family:cursive;
  border-radius:4px;
  border:solid 1px white;
  margin-top:10px;
  margin-bottom:20px;
  margin-right:70px;
  height:30px;
  width:70px;
  font-weight:bold;
}
.product_insert_box #input_submit_logout input[type="submit"]:hover{
  background-color:red;
}
#inner_insert_product_details #details_table{
  /*margin-left:50px;*/
}
#inner_insert_product_details #details_table td #related_pro{
  color:black;
  font-family:cursive;
  font-size:18px;
  text-shadow:1px 1px white;
}
#inner_insert_product_details #details_table td #details_image{
  float:left;
}
#details_image img {
border-radius:3px;
margin-top:7px;
margin-left:7px;
border:solid 1px white;
opacity:0.8;
}
#details_image img:hover{
opacity:1;
}
#footer_pro{
  margin-top:20px;
  width:700px;
  background-color:transparent;
}
#footer_pro #banner_header{
  width:700px;
  height:30px;
  margin-top:5px;
  background-color:sienna;
  color:white;
  font-family:cursive;
  border-radius:7px;
  box-shadow:9px 9px 7px 0px black;
}
#footer_pro #banner_1{
  float:left;
  margin-top:5px;
  margin-left:30px;
  color:white;
  font-family:cursive;
}
#footer_pro #pro_title_header{
  float:left;
  color:white;
  font-weight:bold;
  font-family:cursive;
  font-size:16px;
}
#footer_pro #pro_desc_header{
  float:left;
  color:black;
  font-family:cursive;
  font-size:13px;
}

#footer_pro #pro_price_header{
  color:black;
  font-family:cursive;
  font-size:15px;
}
#footer_pro #submit_cart_header{

}
#footer_pro #submit_cart_header input[type="button"]{
  color:white;
  background-color:blue;
  font-family:cursive;
  border-radius:2px;
  border:solid 1px white;
  margin-top:10px;
  margin-bottom:20px;
  margin-right:70px;
  margin-left:70px;
  height:30px;
  width:130px;
  font-weight:bold;
}
#footer_pro #submit_cart_header input[type="button"]:hover{
  background-color:red;
}
/*#details_hover_overlay{
 display:none;
  width:100%;
  height:100%;
  position:fixed;
  background-color:black;
  opacity:0.7;
}
#hover_img{
  display:none;
  width:100%;
  height:100%;
  position:fixed;
  background-color:black;
  opacity:0.7;
}
#details_hover img:hover #details_hover_overlay{
  position:fixed;
  display:block;
  z-index:1000;
}
#details_hover:hover #hover_img{
  display:block;
}*/
@-webkit-keyframes mymove_x {
  from {top: 0px;}
  to {top: 380px;}
}

@keyframes mymove_x {
  from {top: 0px;}
  to {top: 380px;}
}
#middle a #image_home_offer_status_left{
  pointer:cursor;
  background-color:black;
  float:right;
  margin-top:-287px;
  margin-right:960px;
  width:200px;
  height:237px;
  border-radius:4px;
  border:solid 1px black;
  /*box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);*/
  position: relative;
  -webkit-animation: mymove_x 3s;  /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: 1;  /* Chrome, Safari, Opera */
  -webkit-animation-fill-mode: forwards;  /* Chrome, Safari, Opera */
  animation: mymove_x 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
#middle a #image_home_offer_status_left #feed_back_status{
  margin-top:8px;
  margin-left:20px;
  color:white;
}
#feed_back_status #t{
font-family:cursive;
color:yellow;
}
#image_home_offer_status_left td input[type="email"]{
  opacity:0.8;
  color:black;
  width:180px;
  font-family:cursive;
  border-radius:2px;
  border:solid 1px white;
  box-shadow:1px 1px yellow;
}
#image_home_offer_status_left td input[type="email"]:hover{
  opacity:1;
}
#image_home_offer_status_left td textarea{
  opacity:0.8;
  color:black;
  width:180px;
  font-family:cursive;
  border-radius:2px;
  border:solid 1px white;
  box-shadow:1px 1px yellow;
}
#image_home_offer_status_left td textarea:hover{
  opacity:1;
}
#image_home_offer_status_left td input[type="submit"]{
  color:white;
  background-color:blue;
  font-family:cursive;
  border-radius:2px;
  border:solid 1px white;
  margin-top:5px;
  margin-bottom:7px;
  margin-right:70px;
  margin-left:100px;
  height:30px;
  width:80px;
  font-weight:bold;
}
#image_home_offer_status_left td input[type="submit"]:hover{
  background-color:red;
  pointer:cursor;
}
#middle a #image_home_offer_left{
  pointer:cursor;
  background-color:#F1ECF3;
  float:right;
  margin-top:-250px;
  margin-right:920px;
  width:40px;
  box-shadow:3px 3px 2px 0px black;
  border:solid 1px black;
  /*box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);*/
  border-bottom-right-radius:8px;
  border-top-right-radius:8px;
  position: relative;
  -webkit-animation: mymove_x 3s;  /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: 1;  /* Chrome, Safari, Opera */
  -webkit-animation-fill-mode: forwards;  /* Chrome, Safari, Opera */
  animation: mymove_x 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
#middle a #image_home_offer_left #feed_back{
  margin-left:15px;
  font-family:fantasy;
  color:red;
  font-size:17px;
  text-shadow:1px 1px black;
}
#middle a:hover #image_home_offer_left{
  border:solid 1px red;
  box-shadow:3px 3px 2px 0px red;
}
#middle_index_left{

}
#middle_index_left a #image_home_offer_index_left{
  background-color:#F1ECF3;
  float:right;
  margin-left:00px;
  margin-top:-90px;
  margin-right:1020px;
  width:100px;
  box-shadow:3px 3px 2px 0px black;
  border:solid 1px black;
  /*box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);*/
  border-radius: 0.28571429rem;
  position: relative;
  -webkit-animation: mymove 3s;  /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: 1;  /* Chrome, Safari, Opera */
  -webkit-animation-fill-mode: forwards;  /* Chrome, Safari, Opera */
  animation: mymove 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index:1000;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
  from {top: 90px;}
  to {top: 200px;}
}

@keyframes mymove {
  from {top: 90px;}
  to {top: 200px;}
}
#middle_index_left a #image_home_offer_index_left img {
  margin-left:15px;
  width:68px;
  height:60px;
  margin-top:8px;
  border-radius:4px;
  border:solid 1px black;
  margin-bottom:8px;
}
#middle_index_left a:hover #image_home_offer_index_left{
  border:solid 1px red;
  box-shadow:3px 3px 2px 0px red;
}
#middle_index_left_asd a #image_home_offer_index_left_asd{
  background-color:black;
  float:right;
  margin-left:00px;
  margin-top:-120px;
  margin-right:1020px;
  width:100px;
  height:30px;
  box-shadow:3px 3px 2px 0px black;
  border:solid 1px black;
  /*box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);*/
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  position: relative;
  -webkit-animation: mymove 3s;  /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: 1;  /* Chrome, Safari, Opera */
  -webkit-animation-fill-mode: forwards;  /* Chrome, Safari, Opera */
  animation: mymove 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index:1000;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
  from {top: 90px;}
  to {top: 200px;}
}

@keyframes mymove {
  from {top: 90px;}
  to {top: 200px;}
}
#middle_index_left_asd a #image_home_offer_index_left_asd #asd {
  margin-left:30px;
  margin-top:15px;
  color:white;
  font-family:fantasy;
  letter-spacing:2px;
  text-shadow:1px 1px red;
}
#middle_index_left_1 a #image_home_offer_index_left_1{
  background-color:#F1ECF3;
  float:right;
  margin-left:00px;
  margin-top:-90px;
  margin-right:1020px;
  width:100px;
  box-shadow:3px 3px 2px 0px black;
  border:solid 1px black;
  /*box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);*/
  border-radius: 0.28571429rem;
  position: relative;
  -webkit-animation: mymove_p 3s;  /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: 1;  /* Chrome, Safari, Opera */
  -webkit-animation-fill-mode: forwards;  /* Chrome, Safari, Opera */
  animation: mymove_p 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index:1000;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove_p {
  from {top: 90px;}
  to {top: 400px;}
}

@keyframes mymove_p {
  from {top: 90px;}
  to {top: 400px;}
}
#middle_index_left_1 a #image_home_offer_index_left_1 img {
  margin-left:15px;
  width:68px;
  height:60px;
  margin-top:8px;
  border-radius:4px;
  border:solid 1px black;
  margin-bottom:8px;
}
#middle_index_left_1 a:hover #image_home_offer_index_left_1{
  border:solid 1px red;
  box-shadow:3px 3px 2px 0px red;
}
#middle_index_left_asd_1 a #image_home_offer_index_left_asd_1{
  background-color:black;
  float:right;
  margin-left:00px;
  margin-top:-120px;
  margin-right:1020px;
  width:100px;
  height:30px;
  box-shadow:3px 3px 2px 0px black;
  border:solid 1px black;
  /*box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);*/
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  position: relative;
  -webkit-animation: mymove_p 3s;  /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: 1;  /* Chrome, Safari, Opera */
  -webkit-animation-fill-mode: forwards;  /* Chrome, Safari, Opera */
  animation: mymove_p 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index:1000;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove_p {
  from {top: 90px;}
  to {top: 400px;}
}

@keyframes mymove_p {
  from {top: 90px;}
  to {top: 400px;}
}
#middle_index_left_asd_1 a #image_home_offer_index_left_asd_1 #asd_1 {
  margin-left:30px;
  margin-top:15px;
  color:white;
  font-family:fantasy;
  letter-spacing:2px;
  text-shadow:1px 1px red;
}
