body{
  margin:0px , 0px;
  background:url(../../images/background.jpg) fixed;
  height:100%;
}
img{
  cursor:pointer;
}
a{
  text-decoration:none;
}
.header{
  top:0px;
  left:0px;
  right:0px;
  margin-top:0px;
  position:fixed;
  width:100%;
  vertical-align:top;
  height:112px;
  border-color: transparent;
  background-color:#7A5696;
  /*border-bottom:solid 1px red;*/
  box-shadow: 0px 2px 0px 0px rgba(183,61,44,30);
}
.header1{
  padding-top:1px;
  float:right;
  margin-right:80px;
}
.header1 ol li{
  list-style-type:none;
  float:left;
  margin-left:12px;
  display:inline-block;
}
.header1 ol li a{
  text-decoration:none;
  color:white;
  font-family:cursive;
}
.header1 ol li a:hover{
  color:yellow;
  text-decoration:underline;
}
.header1 ol li nav{
  color:black;
  font-size:20px;
}
.header2{
  float:center;
  margin-right:80px;
}
.header2 table{
  text-align:center;
}
.header2 #table td span{
  color:white;
  display: block;
  font-size: 40px;
  line-height:0.8em;
  font-family: fantasy;
  letter-spacing: 2px;
  margin-left: 75px;
  text-shadow: 3px 3px red;
}
.header2 #table td input[type="search"]{
  padding-top:px;
  height:38px;
  width:620px;
  border:2px white;
  border-radius:4px;
  -webkit-box-shadow: 5px 5px 3px 0px rgba(183,61,44,30);
  -moz-box-shadow: 5px 5px 3px 0px rgba(183,61,44,30);
  box-shadow: 5px 5px 3px 0px rgba(183,61,44,30);
}
.header2 #table td input[type="submit"]{
  cursor:pointer;
  background-color:red;
  padding-top:px;
  height:38px;
  width:80px;
  color:white;
  font-size:16px;
  border:2px red;
  font-family:fantasy;
  border-radius:4px;
  -webkit-box-shadow: 5px 5px 3px 0px rgba(183,61,44,30);
  -moz-box-shadow: 5px 5px 3px 0px rgba(183,61,44,30);
  box-shadow: 5px 5px 3px 0px rgba(183,61,44,30);
}
.header2 #table td input[type="submit"]:hover{
  background-color:#4727A3;
}
.menu{
  margin-top:72px;
  width:1331px;
  height:45px;
  border-radius:6px;
  background-color:#4727A3;
  /*  background-color: rgba(60, 118, 61, 0.4);
  border-color: transparent;*/
  border:solid 2px #4727A3;
  box-shadow: 0px 7px 0px 0px rgba(183,61,44,30);
}
.menu ol{
  text-align:center;
}
.menu ol li{
  list-style-type:none;
  margin-left:15px;
  display:inline-block;
}
.menu ol li a{
  text-decoration:none;
  color:white;
  font-family:cursive;
}
.menu ol li a:hover{
  color:red;
}
.menu ol li nav {
  color:black;
  font-size:20px;
}
#section{
  margin-top:-9px;
  width:100%;
  height:100%;
  background-color: rgba(60, 11, 61, 0.7);
  border-color: transparent;
}
.image_link{
  padding-left:10px;
  padding-right:10px;
  margin-left:240px;
  width:930px;
  height:100%;
  background-color:cornflowerblue;

}
.left_menu{
  width:200px;
  height:100%;
  background-color: cornflowerblue;
  float:left;
}
.right_menu{
  margin-left:220px;
  margin-top:16px;
  width:700px;
  height:620px;
}
#product_menu{
  display:none;
  padding-top:17px;
  width:716px;
  height:35px;
  background-color:#332E36;
  box-shadow:5px 5px 3px 0px rgba(183,161,44,30);
}
#product_menu span{
  float:right;
  font-size:17px;
  margin-bottom:10px;
  margin-right:20px;
  margin-left:10px;
}
#product_menu span #z{
  font-family:fantasy;
  color:white;
  margin-right:10px;
  text-shadow: 3px 3px red;
}
#product_menu span #a{
  font-family:cursive;
  color:yellow;
  margin-right:10px;
}
#product_menu span #b{
  font-family:cursive;
  color:white;
  margin-right:15px;
}
#product_menu span input[type="button"]{
  pointer:cursor;
  font-family:fantasy;
  letter-spacing:1px;
  width:80px;
  height:30px;
  background-color:blue;
  border:solid 1px white;
  border-radius:6px;
  color:white;
  font-size:13px;
}
#product_menu span input[type="button"]:hover{
  background-color:red;
}
#product_menu1{
  /*  display:none;*/
  padding-top:17px;
  width:716px;
  height:35px;
  background-color:#332E36;
  box-shadow:5px 5px 3px 0px rgba(183,161,44,30);
}
#product_menu1 span{
  float:right;
  font-size:17px;
  margin-bottom:10px;
  margin-right:20px;
  margin-left:10px;
}
#product_menu1 span #z{
  font-family:fantasy;
  color:white;
  margin-right:10px;
  text-shadow: 3px 3px red;
}
#product_menu1 span #a{
  font-family:cursive;
  color:yellow;
  margin-right:10px;
}
#product_menu1 span #b{
  font-family:cursive;
  color:white;
  margin-right:15px;
}
#product_menu1 span input[type="button"]{
  pointer:cursor;
  font-family:fantasy;
  letter-spacing:1px;
  width:80px;
  height:30px;
  background-color:blue;
  border:solid 1px white;
  border-radius:6px;
  color:white;
  font-size:13px;
}
#product_menu1 span input[type="button"]:hover{
  background-color:red;
}

#product_header{
  margin-top:50px;
  margin-left:60px;
}
#product_header span{
  font-family:fantasy;
  font-size:30px;
  color:blue;
  text-shadow: 2px 2px white;
}
.product_box input[type="text"]{
  width:450px;
  height:30px;
  border-radius:7px;
  opacity:0.8;
  color:black;
  font-family:cursive;
  border:solid 2px white;
}
.product_box input[type="text"]:hover{
  opacity:1;
}
.product_box #name{
  color:yellow;
  font-family:cursive;
  font-size:16px;
  line-height:1.6em;
}
.product_box #name1 select{
  width:250px;
  height:30px;
  border-radius:7px;
  opacity:0.8;
}
.product_box #name1 select:hover{
  opacity:1;
}
.product_box #textarea{
  opacity:0.8;
  color:black;
  font-family:cursive;
  border:solid 2px white;
}
.product_box #textarea:hover{
  opacity:1;
}
.product_box table{

}
.product_box input[type="submit"]{
  float:right;
  font-size:15px;
  pointer:cursor;
  width:150px;
  height:40px;
  border-radius:7px;
  color:white;
  font-family:fantasy;
  background-color:blue;
  border:solid 2px blue;
}
.product_box input[type="submit"]:hover{
  background-color:red;
}
.left_menu ol li{
  list-style-type:none;
  display:block;
  margin-top:10px;
}
.left_menu ol li span{
  font-family:fantasy;
  font-size:20px;
  margin-left:-40px;
  text-align:center;
  line-height:2.4em;
  background-color:rgba(60, 110, 61, 0.9);
  padding-left:45px;
  color:white;
  border-radius:6px;
  padding-right:54px;
  padding-bottom:10px;
  padding-top:10px;
  border:solid 1px white;
  box-shadow:5px 6px 1px 0px rgba(183,61,44,30);
}
.left_menu ol li span:hover{
  background-color:white;
  color:blue;
  border:solid 1px blue;
}
.left_menu ol li nav{
  font-family:fantasy;
  font-size:20px;
  margin-left:-40px;
  text-align:center;
  line-height:1.6em;
  background-color:white;
  padding-left:4px;
  padding-right:84px;
  padding-bottom:0px;
  padding-top:0px;
  border-radius:2px;
  border:solid 1px white;
  box-shadow:5px 5px 3px 0px rgba(183,61,44,30);
}
.left_menu .abc li{
  list-style-type:none;
  display:block;
  margin-top:-10px;
}
.left_menu ol li #abc{
  font-family:cursive;
  font-size:20px;
  display:block;
  text-align:center;
  background-color:red;
  color:white;
  padding-top:4px;
  padding-bottom:4px;
  margin-left:-40px;
  border:solid 1px black;
  border-radius:10px;
  box-shadow:5px 5px 3px 0px rgba(183,61,44,30);
}
.left_menu ol li #abc:hover{
  background-color:blue;
  color:white;
}
.product_insert_box{
  width:650px;
  padding-top:20px;
  margin-top:20px;
  margin-left:30px;
  margin-right:30px;
}
.footer{
  margin-bottom:-400px;
  margin-right:-10px;
  margin-left:-10px;
  width:1350px;
  vertical-align:top;
  height:80px;
  border-color: transparent;
  background-color:#7A5696;
  box-shadow: 0px 0px 0px 2px rgba(183,61,44,30);
}
.footer table{
  text-align:center;
}
.footer td span{
  color:white;
  display: block;
  font-size: 40px;
  line-height:0.8em;
  font-family: fantasy;
  letter-spacing: 2px;
  text-shadow: 3px 3px red;
}
.footer #img img{
  margin-left:40px;
}
.footer p{
  color:white;
  font-family:cursive;
  font-size:14px;
}
